html{
            font-size: 22px;
        }
body {
            background-color: #151421;
            color: whitesmoke;        }
a {
  color: #4da3ff;
}

a:visited {
  color: #b38cff;
}

a:hover,a:active {
  color: #79b8ff;
}
table,tr,th,td,caption{
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5 rem;
}